---

encryptions:
  openssl: 
    encrypt:
      executable: "openssl"
      args: 
        - "aes-256-cbc" 
        - "-k" 
        - "{{.Key}}" 
        - "-in" 
        - "{{.In}}" 
        - "-out"
        - "{{.Out}}" 
        - "-e"
    decrypt:
      executable: "openssl"
      args: 
        - "aes-256-cbc" 
        - "-k" 
        - "{{.Key}}" 
        - "-in" 
        - "{{.In}}" 
        - "-out"
        - "{{.Out}}" 
        - "-d"
  ansible-vault:
    encrypt:
      executable: "ansible-vault"
      args: 
        - "encrypt" 
        - "{{.In}}"
      env: 
        - name: "ANSIBLE_VAULT_PASSWORD_FILE"
          value: "{{.Key}}"
    decrypt:
      executable: "ansible-vault"
      args: 
        - "decrypt" 
        - "{{.In}}"
      env: 
        - name: "ANSIBLE_VAULT_PASSWORD_FILE"
          value: "{{.Key}}"

secretGroups:
  secA:
    key: "`cat test/openssl_test_pass`"
    encryption: "openssl"
    secrets:
      - encrypted: "test/openssl_test_secret.enc"
        decrypted: "test/openssl_test_secret"
  secB:
    key: "test/vault_test_pass"
    encryption: "ansible-vault"
    secrets:
      - encrypted: "test/vault_test_secret"
        decrypted: "test/vault_test_secret"
