---

encryptions:
  openssl: 
    encrypt:
      executable: "openssl"
      args: 
        - "aes-256-cbc" 
        - "-k" 
        - "{{.Key}}" 
        - "-in" 
        - "{{.In}}" 
        - "-out"
        - "{{.Out}}" 
        - "-e"
    decrypt:
      executable: "openssl"
      args: 
        - "aes-256-cbc" 
        - "-k" 
        - "{{.Key}}" 
        - "-in" 
        - "{{.In}}" 
        - "-out"
        - "{{.Out}}" 
        - "-d"
  ansible-vault:
    encrypt:
      executable: "ansible-vault"
      args: 
        - "encrypt" 
        - "{{.In}}"
      env: 
        - name: "ANSIBLE_VAULT_PASSWORD_FILE"
          value: "{{.Key}}"
    decrypt:
      executable: "ansible-vault"
      args: 
        - "decrypt" 
        - "{{.In}}"
      env: 
        - name: "ANSIBLE_VAULT_PASSWORD_FILE"
          value: "{{.Key}}"

secretGroups:
  secA:
    key: "`cat openssl_pass`"
    encryption: "openssl"
    secrets:
      - encrypted: "secrets/test.1.enc"
        decrypted: "secrets/test.1"
      - encrypted: "secrets/test.2.enc"
        decrypted: "secrets/test.2"
  secB:
    key: "vault_pass"
    encryption: "ansible-vault"
    secrets:
      - encrypted: "secrets/vault"
        decrypted: "secrets/vault"
      - encrypted: "secrets/vault.2"
        decrypted: "secrets/vault.2"
